mixin pendingaccountlist(id_val, name_val, checked_val)
  input(type='checkbox', id='id_'+id_val, name='id_'+id_val, value='true', checked=checked_val)

    
form.form-horizontal(name='org-user-accounts', id='org-user-accounts', action='/org-user-manage', method='post', role='form')
  include ../components/csrf.jade

  .page-header
    h4 Activate / Deactivate user accounts

  .form-group
    table.table.table-striped.table-bordered.table-hover.table-condensed
      thead
        tr
          th
            p
          th
            p Username
          th
            p Email
          th
            p Last login
          th
            p Account created
      tbody
      if Object.keys(pageInfo.other.orgusers).length > 0
          each val in pageInfo.other.orgusers
            - val.checked = val.deleted ? true : false;
            tr
              td
                +pendingaccountlist(val.id, val.name, val.checked)
              td
                p #{val.name}
              td
                p #{val.email}
              td
                p #{val.lastlogin}
              td
                p #{val.createdate}
      else
        tr
          td(colspan=5)
            p No users found
      span.help-block Checked user accounts will be deactivated.  Unchecked accounts will be activated
  
  .form-group
    button.btn.btn-primary(type='submit') Update user accounts